<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="hotel_api.ZPM">
    <Module>
      <Name>hotel_api</Name>
      <Version>1.1.0</Version>
      <Description>hotel api</Description>
      <Keywords>hotel,rest,api</Keywords>
      <Packaging>module</Packaging>
      <Dependencies>
        <ModuleReference>
          <Name>sslclient</Name>
          <Version>*</Version>
        </ModuleReference>
      </Dependencies>
      <CSPApplication CookiePath="/" DispatchClass="dc.Sample.NumPriceChannel" MatchRoles=":%DB_USER" PasswordAuthEnabled="1" Recurse="1" UnauthenticatedEnabled="0" Url="/channel" UseSessionCookie="1"/>
      <CSPApplication CookiePath="/" DispatchClass="dc.Sample.CountryNoshow" MatchRoles=":%DB_USER" PasswordAuthEnabled="1" Recurse="1" UnauthenticatedEnabled="0" Url="/countrynoshow" UseSessionCookie="1"/>
      <CSPApplication CookiePath="/csp/user/" DefaultTimeout="900" DeployPath="${cspdir}user/" Description="User Namespace applications" GroupById="%ISCMgtPortal" MatchRoles=":%DB_USER" PasswordAuthEnabled="1" Recurse="1" ServeFiles="2" ServeFilesTimeout="3600" SourcePath="web" UnauthenticatedEnabled="1" Url="/csp/user" UseSessionCookie="2"/>
      <CSPApplication CookiePath="/" DispatchClass="dc.Sample.GuestStayRelation" MatchRoles=":%DB_USER" PasswordAuthEnabled="1" Recurse="1" UnauthenticatedEnabled="0" Url="/grelation" UseSessionCookie="1"/>
      <CSPApplication CookiePath="/" DispatchClass="dc.Sample.NoshowFore" MatchRoles=":%DB_USER" PasswordAuthEnabled="1" Recurse="1" UnauthenticatedEnabled="0" Url="/noshowfore" UseSessionCookie="1"/>
      <Resource Directory="dc" Name="Sample.PKG"/>
      <Resource Name="dc.PKG"/>
      <CSPApplication CookiePath="/" DispatchClass="dc.Sample.Orders" MatchRoles=":%DB_USER" PasswordAuthEnabled="1" Recurse="1" UnauthenticatedEnabled="0" Url="/orders" UseSessionCookie="1"/>
      <CSPApplication CookiePath="/" DispatchClass="dc.Sample.oversold" MatchRoles=":%DB_USER" PasswordAuthEnabled="1" Recurse="1" UnauthenticatedEnabled="0" Url="/oversold" UseSessionCookie="1"/>
      <CSPApplication CookiePath="/" DispatchClass="dc.Sample.PriceTrend" MatchRoles=":%DB_USER" PasswordAuthEnabled="1" Recurse="1" UnauthenticatedEnabled="0" Url="/pricetrend" UseSessionCookie="1"/>
      <CSPApplication CookiePath="/swagger-ui" DeployPath="${cspdir}swagger-ui/" MatchRoles=":%DB_USER" PasswordAuthEnabled="1" Recurse="1" ServeFiles="1" SourcePath="web" UnauthenticatedEnabled="0" Url="/swagger-ui" UseSessionCookie="1"/>
      <CSPApplication CookiePath="/" DispatchClass="dc.Sample.WeekNoshow" MatchRoles=":%DB_USER" PasswordAuthEnabled="1" Recurse="1" UnauthenticatedEnabled="0" Url="/weeknoshow" UseSessionCookie="1"/>
      <SourcesRoot>src</SourcesRoot>
    </Module>
  </Document>
</Export>